.Home{
    width: 100%;
    height: 1000px;
    background-position: center;
    background-size: cover;
    background-image: url('https://www.now.vn/app/assets/img/main-banner.jpg?45bff8c9ec408a5ba51f9fdef662324e');
}