.Home{
    width: 100%;
    height: 1000px;
    background-position: center;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1566570217868-c123d5d7afbd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
}