
h2{
    color: rgb(55, 108, 231) ;
    font-weight: 500;
    font-size: 3rem !important;
    padding: 1rem;
}

.Card{
    margin: 0.5rem 0;
    box-sizing: border-box;
    max-width: 100% !important;
}

.Card:hover {
    transform: scale(1.05);
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
}

.CardBody{
    background-color: #f4f2f2;

}

.CardTitle{
    font-size: 1.5rem;
}

.Card-Cart-Price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CardText{
    margin: 0 !important;
}