.Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #EEE; */
    max-width: 1200px;
    margin-top: 1rem;
    padding: 0 2rem;
    /* height: 120px; */
}

.AppMobile img {
    width: 32px;
    height: 32px;
}

.AppMobile .App {
    padding: 10px;
    /* border: 1px solid #AAA; */
    text-align: left;
    margin: 0.5rem 0;
}

.AppMobile .App span {
    padding: 0 2rem;
}

.AppMobile .Conect{
    padding: 10px 0;
}

.AppMobile .Conect a{
    padding: 10px;
    
    /* border: 1px solid #AAA; */
    text-align: left;
    margin: 1rem 0;
}


.InfoCompany {
    text-align: right;
}

.InfoCompany img{
    width: 10rem;
    height: 100%;
}
.InfoCompany p{
    max-width: 250px;

}

.InfoCompany p:first-child{
    font-weight: bold;
    font-size: 1.2rem;
}
.Logo img {
    width: 15rem;
}

@media(max-width:767px){
    .Logo img{
        display: none;
    }
}

@media(max-width: 575px){
    .AppMobile{
        display: none;
    }
    .InfoCompany{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }

    .InfoCompany img{
        display: none;
    }
    .InfoCompany p:first-child{
        color: red;
    }
}